{% extends 'base.html.twig' %}

{% block title %}Prisijungti{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 text-center mt-5">
                <h3 class="display-4">Prisijunkite</h3>
                <div class="info-form">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">El. Paštas</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="el. paštas" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">Slaptažodis</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="slaptažodis" required>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-success" type="submit">
                           Prisijungti
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
