{% extends 'base.html.twig' %}

{% block title %}{{ someVariable }}{% endblock %}

{% block body %}
    <section class="section-main">
        <nav class="navigation">
            <div class="navigation-brand">
                <img src="/img/logo-w.png" alt="Logo icon">
            </div>

            <ul class="navigation-items">
                <li class="navigation-items__item">Registracija</li>
                <li class="navigation-items__item">Prisijungimas</li>
            </ul>
        </nav>

        <img src="/img/paint.png" alt="" class="main-img">

        <div class="info">
            <div class="info-main">
                Rask žmones keliaujančius tuo pačiu maršrutu kaip tu, susisiek ir važiuokit drauge !
            </div>
            <a class="info-button" href="/reg">
                IŠBANDYK
            </a>
            <div class="info-cs">
                Jau greitai ...
            </div>
        </div>
    </section>
{% endblock %}
