<nav class="navigation s">
    <div class="navigation-brand">
        <a href="/" class="brand">
            <img src="/img/logo-w.png" alt="Logo icon">
        </a>
    </div>

    <ul class="navigation-items">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="navigation-items__item"><a href="/info">{{ app.user.email }}</a></li>
            <li class="navigation-items__item"><a href="/logout">Atsijungti</a></li>
        {% endif %}
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="navigation-items__item"><a href="/register">Registracija</a></li>
            <li class="navigation-items__item"><a href="/login">Prisijungimas</a></li>
        {% endif %}
    </ul>
</nav>