<nav class="navigation s">
    <a href="/" class="navigation-brand">
        <img src="/img/logo-w.png" alt="Logo icon">
    </a>

    <ul class="navigation-items">
        <li class="navigation-items__item">Registracija</li>
        <li class="navigation-items__item">Prisijungimas</li>
    </ul>
</nav>